body {
  font-family: "Press Start 2P", cursive;
  margin: 0;
  overflow: hidden;
  background-color: #000;
  width: 100vw; /* Vul de volledige breedte van het scherm */
  height: 100vh; /* Vul de volledige hoogte van het scherm */
  background-image: url('../Fotos/backgrounds/background-play.png'); /* Zet hier het pad naar je achtergrondafbeelding */
  background-size: cover; /* Zorg ervoor dat de afbeelding de hele canvas vult */
  background-position: center center; /* Zorg ervoor dat de afbeelding gecentreerd wordt */
  background-repeat: no-repeat; /* Zorg ervoor dat de afbeelding niet herhaalt */
  border: none; /* Verwijder eventuele randen */
  padding: 0;
  user-select: none;
}


.container {
  position: absolute;
  top: 20px; /* Zorg ervoor dat de container vanaf de bovenkant van het scherm wordt geplaatst */
  left: 20px; /* Zet de container aan de linkerzijde van het scherm */
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.xp-bar-background {
  width: 300px;
  height: 25px; /* Grotere hoogte voor de XP-balk */
  background-color: #444; /* Donkergrijze achtergrond voor de XP-balk */
  border-radius: 12px; /* Afgeronde hoeken */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6); /* Schaduw voor de XP-balk */
  margin-bottom: 20px;
}

.xp-bar {
  height: 100%;
  background: linear-gradient(90deg, #ffe600, #ff9100); /* Blauwe kleurovergang */
  border-radius: 12px; /* Zorg ervoor dat de XP-balk ook afgeronde hoeken heeft */
  transition: width 0.2s ease-in-out; /* Voeg een overgangseffect toe */
}

.stats {
  margin-top: 10px;
  font-size: 18px; /* Kleinere fontgrootte voor de stats */
  color: aliceblue;
}

.stat {
  margin-bottom: 15px;
  font-size: 22px; /* Grotere fontgrootte voor betere leesbaarheid */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Schaduw voor tekst */
}

.stat-label {
  font-weight: bold;
  color: #ffdf00; /* Gele kleur voor de labels */
  text-transform: uppercase; /* Zet labels in hoofdletters */
}


/*pause menu*/
#game {
  padding: 20px;
  text-align: center;
}
.hidden {
  opacity: 0;
  #resumeButton,
  #Menu-Button {
    display: none;
  }
}
#pauseMenu {
  position: fixed;
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
}

#resumeButton,
#Menu-Button {
  background: transparent;
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  margin-top: 4vh;
  width: 40%;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
}

.Game-Over-Text {
  position: absolute;
  top: 40%; /* Zet het 10% boven het midden van het scherm */
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 400%;
  display: flex;
  justify-content: center;
  text-align: center;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8); /* Schaduw voor de tekst voor een pixelige uitstraling */
  white-space: nowrap; /* Zorg ervoor dat de tekst niet wordt ingekort */
  z-index: 1000; /* Zorg ervoor dat de Game Over tekst boven andere elementen wordt weergegeven */
}

#game-over-button {
  display: none; /* Standaard verborgen */
  position: absolute; /* Absoluut gepositioneerd om boven andere content te komen */
  top: 70%; /* Zet ze iets lager dan het midden van het scherm */
  left: 50%;
  transform: translateX(-50%); /* Zorgt ervoor dat de container horizontaal gecentreerd is */
  z-index: 10000;
}

#Button1,
#Button2 {
  color: white;
  background-color: #000;
  font-family: "Press Start 2P", cursive;
  font-size: 18px;
  text-align: center;
  width: 250px; /* Knoppen breder maken voor een betere look */
  height: 70px;
  padding: 10px;
  border: 3px solid #fff; /* Witte rand om de knoppen een pixel-achtige uitstraling te geven */
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.6); /* Lichte schaduw voor een 3D-effect */
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Hover-effect voor de knoppen */
#Button1:hover,
#Button2:hover {
  transform: scale(1.05); /* Vergroot de knop iets bij hover */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8); /* Helderdere gloed bij hover */
  background-color: #444; /* Maak de knop iets donkerder bij hover */
}




#timer {
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  color: white;
  position: fixed;
  top: 20px; /* Plaats de timer aan de bovenkant */
  left: 50%; /* Centreer de timer horizontaal */
  transform: translateX(-50%); /* Zorg ervoor dat het element exact in het midden staat */
  text-align: center;
  z-index: 2; /* Zorg ervoor dat de timer boven andere elementen staat */
}

/* Coin Display Styling */
#coinDisplay {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: #ffd700;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  z-index: 2;
}


#bossMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 36px;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  display: none; /* Initially hidden */
  text-align: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  animation: fadeIn 1s, fadeOut 1s 4s forwards; /* Animation for showing and fading out */
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}
